.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 80%;
  margin-top: 10px;
}

.buttons {
  width: 64%;
  margin: 20px;
  display: flex;
}

.banner{
  width: 40%;
  min-width: 300px;
  text-align: center;
  background-color: #272424;
  color: white;
  margin: 20px 0;
  border-radius: 16px;
  background-image: url('./assets/banner.png');
  background-position: right;
  background-repeat: no-repeat;
}

.banner h1{
  font-family: JockeyOne;
}
.search-bar{
  width: 25%;
  min-width: 230px;
  margin-bottom: 20px;
  padding: 10px;
  background: rgba(105, 105, 105, 0.6);
  border-style: none;
  border-radius: 20px;
  color: white;
}
